[Unit]
Description=bender
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ci
WorkingDirectory=/home/ci
ExecStart=/home/ci/bender
ExecStartPre=+/usr/bin/mkdir -p /sys/fs/cgroup/bender
AmbientCapabilities=CAP_NET_ADMIN
AmbientCapabilities=CAP_NET_RAW
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
